        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137788699-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-137788699-1');
        </script>
        <!-- Hotjar Tracking Code for https://www.collegeeks.com -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1474729,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="theme-color" content="#A33A47"/>
        <meta name="robots" content="index, follow" />
        <meta property="og:content" content="wesite" >
        <meta property="og:site_name" content="Collegeeks">
        <meta property="og:title" content="<%if(locals.title) { %><%= title%><% } else { %>Collegeeks - Community of learners!<%}%>" />
        <meta property="og:description" content="<%if(locals.description){%><%= description%><%if(locals.courseName){%> - <%= courseName%><%}else{%><%}%><%}else{%><%if(locals.courseName){%><%= courseName%><%}else{%>Collegeeks is an online portal for college students to study, share and discuss class notes.<%}%><%}%>" />
        <meta property="og:image" content="<%if(locals.imgUrl) {%><%= imgUrl %><%}else { %>https://www.collegeeks.com/images/og.png<%}%>" />
        <meta name="description" content="<%if(locals.description){%><%= description%><%if(locals.courseName){%> - <%= courseName%><%}else{%><%}%><%}else{%><%if(locals.courseName){%><%= courseName%><%}else{%>Collegeeks is an online portal for college students to study, share and discuss class notes.<%}%><%}%>">
        <link rel="shortcut icon" type="image/png" href="/images/logo-full-40.png"/>
        <link rel="manifest" href="/manifest.json">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script data-ad-client="ca-pub-3269179927741895" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            function loaded() {
                $('.loader').fadeOut(200, function () {
                    $('.loading').fadeOut(400)
                })
                
                $.ajaxSetup({
                    headers: { 'x-auth': token }
                });
            }

            function menubar(x) {
                x.classList.toggle("change");
            loadedCont();
            }
            token = localStorage.getItem('x-auth');
        </script>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" media='screen and (min-width: 320px) and (max-width: 900px)' href="/css/phone/common.css">
        <script async src="https://arc.io/widget.js#h32PGRTp"></script>
        <!--script  src="/socket.io/socket.io.js"></!--script-->
        <script>
        //     const socket = io('/');
        // socket.on( 'chat-message', data => {
        //     console.log('Hello')
        // })
        </script>