<% include ./options %>
<link rel="stylesheet" href="/css/header.css"/>
<link rel="stylesheet" media='screen and (min-width: 320px) and (max-width: 900px)'  href="/css/phone/header.css"/>
<script src="/js/header.js"></script>
<a href="/" class="logo-icon">
<div class="logo"></div>
</a>
<div class="searchbox">
    <input type="text" class="mainSearch" onkeyup="runSearch(event)" placeholder="Search..." autocomplete="off" data-gramm="false" autocorrect="off" autocapitalize="off" spellcheck="false">
    <button class="searchBtn">
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon" style="pointer-events: none; display: block; width: 100%; height: 100%;">
            <g class="style-scope yt-icon">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" class="style-scope yt-icon"></path>
            </g>
        </svg>
    </button>
</div>
<a href="#" class="profileLink">
<div class="user">
    <div class="profile-pic p1"></div>
    <div class="name n1"></div>
</div>
</a>
<a href="/">
<div class="home">
    <div class="icon-header"></div>
    <div class="text">Home</div>
</div>
</a>
<a href="/goldmine">
<div class="goldmine">
    <div class="icon-header"></div>
    <div class="text">Goldmine</div>
</div>
</a>
<div class="searchIcon">
    <div class="icon-header"></div>
</div>
<div class="options">
    <div class="icon-header"></div>
</div>