<div class="imp-cnt">
     <div class="impl-cnt-c">
          <div class="impl-cnt-wrapper">
               <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Vertical1 -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:300px;height:700px"
               data-ad-client="ca-pub-3269179927741895"
               data-ad-slot="8089245374"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          </div>
     </div>
</div>