<html>
    <head>
        <% include ./partials/head %>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <title>About - Collegeeks</title>

        <!-- Important for Download page -->
        <style>
            .privacy-cnt {
                padding-top: 20px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom:20px ;
                background: #fff;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body onload="loaded()">
        <div class="loading">
            <div class="loading-header"></div>
            <div class="loading-cnt">
                <% include ./partials/loading %>
            </div>
        </div>
        <div class="header">
                <% include ./partials/header-li %>
            
        </div>
        <div class="main-container">
            <div class="privacy-cnt">
                    <h2>
                        <strong>
                            About
                        </strong>
                    </h2>
                    Hi, Welcome to <i><b>Collegeeks</b></i>.
                    <br><br>
                    As name suggest this website is specifically designed for study purpose of college students. Currently it is more or less an online repository of study material for students across colleges. Users can share, read, discuss lecture notes, books and various other study material in pdf format online. The study material is displayed in as systematic way possible keeping college patterns in mind. Content is divided in colleges then it is further divided in departments then semester then finally courses. 
                    <br><br>                    
                    At Collegeeks we believe in freedom of information.We believe everyone should have easy, open access to information and that pdf is a powerful force for education, building understanding, and documenting academic events, big and small. 
                    <br><br>                    
                    Freedom of Opportunity. We believe every one should have a chance to be discovered. One may not be studying in most prestigious college of world but may be possessing skills that can drop jaws of many intellectualls worldwide. 
                    <br><br>       
                    <div class="about-pic pic2"></div>             
                    Why Collegeeks ? What is special about collegeeks if there are already many online free repositories on internet. This can be easily understood by taking a simple scenario. Suppose Jack is studying in third Semester of Mechanical Engineering at Example University. He has a course called Thermodynamics in current semester. He missed a few classes and in many other he couldn’t make good notes. He is approaches a senior who guides him another senior which makes very clean and beautiful notes. He takes the snap of notes and also asks some tips regarding how to easily grasp the concepts. He shares the notes and other information to his classmates on social media groups. Now, next year a junior of Jack is looking for ‘good’ notes. Since he is not connected to social groups of his seniors he will have to do all that done by jack again. But suppose Jack would have posted the study material on Collegeeks and mentioned the tips in discussion forum the junior would not have gone through same.
                    <br><br>                                        <br><br>                    
                    
                    Thank you for your valuable contributions ..!
                    <br>
                    Team <b>Collegeeks</b>
            </div>
        </div>
    </body>
</html>
