<html>
    <head>
        <title><%= name %> - Collegeeks</title>
        <% include ./partials/head %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <link rel="stylesheet" href="/css/course.css"/>
        <link rel="stylesheet" media='screen and (min-width: 320px) and (max-width: 900px)' href="/css/phone/course.css"/>

        <script>
            var pageData = {
                college : '<%= collegeId %>',
                pageId : '<%= pageId %>',
                pageType : 'course-main'
            }
        // (adsbygoogle = window.adsbygoogle || []).push({
        //     google_ad_client: "ca-pub-7529702716232866",
        //     enable_page_level_ads: true
        // });
        </script>
        <script src="/js/course.js"></script>

    </head>
    <body onload="loaded()">
        <div class="loading">
            <div class="loading-header"></div>
            <div class="loading-cnt">
                    <% include ./partials/loading %>
            </div>
        </div>
        <div class="header">
            <% include ./partials/header-li %>
        </div>
        <div class="main-container">
            <div class="left"> <% include ./partials/left %> </div>
            <div class="center">
                <div class="course-cnt">
                    <div class="title">
                        <div class="txt"><%= name %></div>
                        <div class="adddocbtn">Add Document</div>
                    </div>
                    <div class="add-doc-wrapper hidden">
                        <div class="adddoc">
                            <div class="chooser">
                                <div class="addfilebtn">Upload File</div>
                                <div class="addurlbtn">Paste Url</div>
                            </div>
                            <div class="uploader-wrapper addfile-wrapper hidden">
                                <div class="uploader addfile">
                                    <div class="status"></div>
                                    <input type="file" class="addpdf" >
                                    <input type="text" class="f name" placeholder="Name of document">
                                    <input type="text" class="f description" placeholder="Description (Optional)">
                                    <select class="f filetype">
                                        <option value="0">Choose category</option>
                                        <option value="1">General</option>
                                        <option value="2">Question Paper</option>
                                        <option value="3">Assignment</option>
                                        <option value="4">Book</option>
                                    </select>
                                    <div class="save f">Save</div>

                                    <div class="bulkUpload">
                                        <div class="smallTitle">Bulk Upload</div>
                                        <div class="notice"><b>Note</b> : The document names will be the names of file. So rename files to proper names before uploading.</div>
                                        <select class="f filetypeMultiple">
                                            <option value="1">General</option>
                                            <option value="2">Question Papers</option>
                                            <option value="3">Assignments</option>
                                            <option value="4">Books</option>
                                        </select>
                                        <input type="file" class="addmanypdf" multiple >
                                    </div>

                                    <span class="convert hidden">Allowed formats - Pdf, Doc, PPt & Png</span>
                                </div>
                            </div>
                            <div class="uploader-wrapper addurl-wrapper hidden">
                                <div class="uploader addurl">
                                    <input type="text" placeholder="Paste Url" onblur="setName()" class="u url">
                                    <input type="text" class="u name" placeholder="Name of document">
                                    <input type="text" class="u description" placeholder="Description (Optional)">
                                    <select class="u filetype">
                                        <option value="0">Choose category</option>
                                        <option value="1">General</option>
                                        <option value="2">Question Paper</option>
                                        <option value="3">Assignment</option>
                                        <option value="4">Book</option>
                                    </select>
                                    <div class="save u">Save</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="doc-cnt">
                            <div class="impl-wrapper">
                                <div class="impl">
                                        <!--script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- 450x100 -->
                                        <!--ins class="adsbygoogle"
                                            style="display:inline-block;width:450px;height:100px"
                                            data-ad-client="ca-pub-3269179927741895"
                                            data-ad-slot="4292582546"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script-->
                                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <ins class="adsbygoogle"
                                            style="display:block"
                                            data-ad-format="fluid"
                                            data-ad-layout-key="-gw-3+1f-3d+2z"
                                            data-ad-client="ca-pub-3269179927741895"
                                            data-ad-slot="3266790386"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                </div>
                            </div>
                        <div class="label">General</div>
                        <div class="general">
                            <span class="nothingyet">No documents added yet.</span>
                        </div>
                        <div class="label">Question Papers</div>
                        <div class="qp">
                            <span class="nothingyet">No documents added yet.</span>
                        </div>
                        <div class="label">Assignment</div>
                        <div class="ass">
                            <span class="nothingyet">No documents added yet.</span>
                        </div>
                        <div class="label">Books</div>
                        <div class="books">
                            <span class="nothingyet">No documents added yet.</span>
                        </div>
                    </div>
                    <div class="commentbox">
                        <div class="title"></div>
                        <div id="disqus_thread"></div>
                        <script>
                            /**
                            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            var course = window.location.pathname.split('/')[2];
                            url = new URL(window.location.href);
                            var college = url.searchParams.get('c');
                            var department = url.searchParams.get('d');
                            var semester = url.searchParams.get('s');
                            var disqus_config = function () {
                            this.page.url = window.location.href.split('?')[0] + url.searchParams.get('v');  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = 'course-main-' + url.searchParams.get('v'); // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };
                            
                            (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');
                            s.src = 'https://magguland-1.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div>
                </div>
            </div>
            <div class="right"> <% include ./partials/right %> </div>
            <% include ./partials/toast %>
        </div>
        <div class="backendLinks hidden">
            <% docsData.forEach(function(doc){ %>
                <a href="/read?doc=<%= doc.shortName %>&v=<%= doc.v %>"><%= doc.name %></a>
            <% }) %>
        </div>
    </body>
</html>