<html>
    <head>
        <title><%= title%> - Collegeeks</title>
        <% include ./partials/head %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <!--link rel="stylesheet" href="/css/college.css"/>
        <link rel="stylesheet" media='screen and (min-width: 320px) and (max-width: 900px)' href="/css/phone/college.css"/-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
        // (adsbygoogle = window.adsbygoogle || []).push({
        //     google_ad_client: "ca-pub-7529702716232866",
        //     enable_page_level_ads: true
        // });
        </script>
        <style>
            span.new.badge {
                margin-top: 6px;
                margin-left: 10px;
            }
        </style>
    </head>

    <body onload="loaded()">
        <div class="loading">
            <div class="loading-header"></div>
            <div class="loading-cnt">
                <% include ./partials/loading %>
            </div>
        </div>
        <div class="header">
                <% include ./partials/header-li %>
            
        </div>

        <div class="main-container">
            <div class="left"> <% include ./partials/left %> </div>
            <div class="center">
                <div class="covid-cnt">
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>State</th>
                                <th>Total Cases</th>
                                <th>Active</th>
                                <th>Recovered</th>
                                <th>Deaths</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="right"> <% include ./partials/right %> </div>
            <% include ./partials/toast %>
        </div>
        <script>
            $.ajax({
                method: 'GET',
                url: '/covid/stateData'
            }).done((data)=>{
                setupData(data)
            }).fail((msg)=>{
                console.log(msg);
                toast('red','Some Error occured while fetching data')
            })

            function setupData(data){
                const stateData = JSON.parse(data.stateData).statewise
                for(let i=0; i<stateData.length; i++){
                    state = stateData[i]
                    let row = 
                    '<tr><td>'+ 
                    state.state +'</td><td>'+
                    state.confirmed+'<span class="new badge orange darken-4">'+state.deltaconfirmed+'</span></td><td>'+
                    state.active+'</td><td>'+
                    state.recovered+'<span class="new badge  green darken-4">'+state.deltarecovered+'</span></td><td>'+
                    state.deaths+'<span class="new badge red darken-4">'+state.deltadeaths+'</span></td></tr>'
                    
                    $("#tbody").append(row)
                }
            }
        </script>
    </body>
</html>