<html>
    <head>
        <title>404 Page not found</title>
        <% include ./partials/head %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" media='screen and (min-width: 320px) and (max-width: 900px)' href="/css/phone/main.css"/>
    </head>
    <body onload="loaded()">
        <div class="loading">
            <div class="loading-header"></div>
            <div class="loading-cnt">
                    <% include ./partials/loading %>
            </div>
        </div>
        <div class="header">
            <% include ./partials/header-li %>
        </div>
        <div class="main-container" style="background:#f2e3ba ">
            <div class="left">
                <% include ./partials/left %>
            </div>
            <div class="center" style="background-color: #f2e3ba;">
                <div class="introbox noselect">
                    <h1>Error 404 Page not found</h1>
                </div>
            </div>
            <div class="right">
                <% include ./partials/right %>
            </div>
        </div>
    </body>
</html>
