<html>
    <!--==standard==-->
    <head>
        <title><%= title%> - Collegeeks</title>
        <% include ./partials/head %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="/js/deps.js"></script>
        <link rel="stylesheet" href="/css/experienceRead.css"/>
        <link rel="stylesheet" href="/css/fileList.css">
        <link rel="stylesheet" media='screen and (min-width: 320px) and (max-width: 900px)' href="/css/phone/experienceRead.css"/>
        <script>
            var pageData = {
                pageId : '<%= pageId %>',
                pageType : 'exp-read-main',
                college : null,
            }
        </script>
        
    <link rel="stylesheet" href="/css/fileList.css">
        <link rel="stylesheet" media='screen and (min-width: 320px) and (max-width: 900px)' href="/css/phone/read.css"/>
    </head>
    <body onload="loaded()">
        <div class="maincontainer">
            <div class="loading">
                <div class="loading-header"></div>
                <div class="loading-cnt">
                        <% include ./partials/loading %>
                </div>
            </div>
            <div class="header">
                    <% include ./partials/header-li %>
                
            </div>
            <div class="main-container">
                <div class="read">
                    <div class="primary">
                        <div class="reader">
                            <div class="pdfrdr">
                                <div class="expReader" id="exp-reader">

                                </div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="title"><%= title%></div>
                            <div class="info">
                                <div class="views"><%= views%> Views</div>
                                <div class="actions">
                                    <div class="like-doc" title="Document is useful">
                                        <div class="action-btn upvote"></div>
                                        <span class="like-count"></span>
                                    </div>
                                    <div class="dislike-doc" title="Document is not useful">
                                        <div class="action-btn downvote"></div>
                                    </div>
                                    <div class="share" title="Share">
                                        <div class="action-btn shareDoc"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="uploader">
                                <div class="author">
                                    <div class="author-details">
                                        <div class="author-pic" style="background-image:url('<%= authorImage%>')"></div>
                                        <a href="/user/<%= authorId%>">
                                            <div class="author-name"><%= authorName%></div>
                                        </a>
                                    </div>
                                    <div class="subscribe"></div>
                                </div>
                                <div class="description"><%= description%></div>
                            </div>
                            <div class="secondaryMobile">
                                
                            </div>
                            <div class="comment-box">
                                    <div class="title"></div>
                                    <div id="disqus_thread"></div>
                                    <script>
                                            currentUrl = new URL(window.location.href);
                                            var fileId = currentUrl.searchParams.get('v');
                                            var disqus_config = function () {
                                            this.page.url = window.location.href.split('?')[0] + '/?v=' + currentUrl.searchParams.get('v');  // Replace PAGE_URL with your page's canonical URL variable
                                            this.page.identifier = 'exp-read-main-' + fileId // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                            };
                                            
                                            (function() { // DON'T EDIT BELOW THIS LINE
                                            var d = document, s = d.createElement('script');
                                            s.src = 'https://magguland-1.disqus.com/embed.js';
                                            s.setAttribute('data-timestamp', +new Date());
                                            (d.head || d.body).appendChild(s);
                                            })();
                                        </script>
                                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            </div>
                        </div>
                    </div>
                    <div class="secondary">
                        
                    </div>
            </div>
            
            </div>
        </div>
        <% include ./partials/toast %>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>

        <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->
        <script src="/js/experienceRead.js"></script>

    </body>
</html>
