<html>
    <head>
        <title>Goldmine - Collegeeks</title>
        <% include ./partials/head %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/goldmine.js"></script>
        <link rel="stylesheet" href="/css/goldmine.css"/>
        <link rel="stylesheet" media='screen and (min-width: 320px) and (max-width: 900px)' href="/css/phone/goldmine.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>
        // (adsbygoogle = window.adsbygoogle || []).push({
        //     google_ad_client: "ca-pub-7529702716232866",
        //     enable_page_level_ads: true
        // });
        </script>
    </head>
    <body onload="loaded()">
        <div class="loading">
            <div class="loading-header"></div>
            <div class="loading-cnt">
                    <% include ./partials/loading %>
            </div>
        </div>
        <div class="header">
                <% include ./partials/header-li %>
        </div>
        <div class="main-container">
            <div class="left"> <% include ./partials/left %> </div>
            <div class="center">
                <div class="college-cnt">
                    <div class="gm-head">
                        <div class="gm-title">
                            <div class="gm-name">Colleges</div>
                        </div>
                        <a href="/college/addcollege"><div class="gm-addbtn">Add College</div></a>
                    </div>
                    <div class="gm-body"></div>
                </div>
            </div>
            <div class="right"> <% include ./partials/right %> </div>
            <% include ./partials/toast %>
        </div>
        <script>
            $(".search-icon").click(function() {
                $('.search-icon').fadeOut(300);
                $('.page-title').fadeOut(300, function() {
                    $('.searchArea').css("display", "flex").hide().fadeIn(300);
                });
            });
        </script>
        <div class="backendLinks hidden">
            <% collegeData.forEach(function(college){ %>
                <a href="/college/<%= college.shortName %>" class="clinks"><%= college.name %></a>
            <% }) %>
        </div>
    </body>
</html>