<link rel="stylesheet" href="/css/header.css">
<script src="/js/header.js"></script>

<div class="icons">
	<a href="/user/signin">
		<div class="icon-container" aria-label="Sign Up">
				<div class="icon signup" >Sign Up
				</div>
		</div>
		<div class="icon-container" aria-label="Log In">
				<div class="icon login" >Log In
				</div>
		</div>
	</a>
</div>