<link rel="stylesheet" href="/css/header.css">
<script src="/js/header.js"></script>

<div class="icons">
	<!--div class="icon-container icn" aria-label="Notification">
			<span class="count icn">11</span>
			<div class="icon ntf notice" title="Notification" >
			</div>
	</div-->
	<div class="icon-container icn" aria-label="Menu">
			<div class="icon icn menu" title="Menu">
			</div>
	</div>
</div>