<html>
    <head>
        <title><%= title%> - Collegeeks</title>
        <% include ./partials/head %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <link rel="stylesheet" href="/css/placementSheet.css"/>
        <link rel="stylesheet" media='screen and (min-width: 320px) and (max-width: 900px)' href="/css/phone/placementSheet.css"/>

        <script>
        // (adsbygoogle = window.adsbygoogle || []).push({
        //     google_ad_client: "ca-pub-7529702716232866",
        //     enable_page_level_ads: true
        // });
        </script>
    </head>
    <body onload="loaded()">
        <div class="loading">
            <div class="loading-header"></div>
            <div class="loading-cnt">
                <% include ./partials/loading %>
            </div>
        </div>
        <div class="header">
                <% include ./partials/header-li %>
            
        </div>
        <div class="main-container">
            <div class="left"> <% include ./partials/left %> </div>
            <div class="center">
                <div class="ps-cnt">
                    <div class="title"><%= title%></div>
                    <div class="notice"><b>Note</b> : This page is meant for mutual collaboration 😎 does not contain any official information.</div>
                    <div class="filters">
                        <div class="addExperiencePanel">
                            <div class="addExperience-title">
                                Post Your Experience
                            </div>
                            <div class="addExperience-panel hidden drawer">
                                    <div class="addExperience-wrapper">
                                            <span class="input-caption">Your College* : </span>
                                            <input type="text" class="exp exp-college" id="exp-college">
                                            <span class="input-caption">Company* : </span>
                                            <input type="text" class="exp exp-company" id="exp-company">
                                            <span class="input-caption">Category* : </span>
                                            <select class="exp exp-category">
                                                <option value="placement">Placements</option>
                                                <option value="internship">Internship</option>
                                            </select>
                                            <span class="input-caption">Detailed Description* :</span>
                                            <div class="exp exp-description" id="expDescription"></div>
                                            <!--span class="input-caption">Title* : </span>
                                            <input type="text" class="exp exp-title" placeholder="Questions title or topic name."-->
                                            <div class="exp-post btn">Post</div>
                                    </div>
                            </div>
                        </div>
                        <div class="filterControls">
                            <div class="filterControls-title">
                                Apply Filters
                            </div>
                            <div class="filterControls-controller hidden drawer">
                                <div class="filterControlWrapper">
                                        <div class="allFilters">
                                            <select class="filter college-filter">
                                                <option value="0">Choose College</option>
                                                <option value="tyre1">All IITs, NITs, IIIT & BITs</option>
                                            </select>
                                            <select class="filter company-filter">
                                                <option value="0">Choose Company</option>
                                            </select>
                                            <select class="filter category-filter">
                                                <option value="0">Choose Category</option>
                                                <option value="placement">Placement</option>
                                                <option value="internship">Internship</option>
                                            </select>
                                        </div>
                                        
                                        <div class="apply-filter btn">Apply</div>
                                </div>
                            </div>
                        </div>
                        <div class="filterControls">
                            <div class="companyHistory-title">
                                Company Visit History
                            </div>
                            <div class="company-history hidden">
                                <div class="visit-history">
                                    <div class="visit-list"></div>
                                </div>
                                <div class="post-visit">
                                    <div class="post-visit-title">
                                        Post Visit :-
                                    </div>
                                    <span class="input-caption">College* : </span>
                                    <input type="text" class="exp visit-college" id="college-visit">
                                    <span class="input-caption">Company* : </span>
                                    <input type="text" class="exp visit-company" id="company-visit">
                                    <span class="input-caption">Date* : </span>
                                    <input type="date" class="exp visit-date">
                                    <div class="post-visit-btn btn">Post</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experiences">
                        <span class="experiences-title">All Experiences (Questions Asked)</span>
                        <div class="notice filterActive hidden"><b>Note</b> : Filters active. <span class="removeFilter">Remove Filters.</span></div>
                        <div class="experience-list">
                            <span class="notyet hidden" >No post found matching the filter!</span>
                            <div class="experience-list-wrapper">
                            </div>
                            <span class="spinner hidden" >Loading...</span>
                            <span class="loadMore hidden">Load more...</span>
                            <span class="endOfResult hidden">End of Results.</span>
                        </div>
                    </div>
                    <div class="comment-box">
                        <div class="query-title">All Queries and Discussion</div>
                        <div id="disqus_thread"></div>
                        <script>
                                /**
                                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                                currentUrl = new URL(window.location.href);
                                var fileId =  'placement-sheet-' + window.location.href.split('training/')[1].split('/')[1].split('?')[0] ;
                                var disqus_config = function () {
                                this.page.url = window.location.href.split('?')[0];
                                this.page.identifier = 'placement-sheet-main-' + fileId // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                };
                                
                                (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = 'https://magguland-1.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
                </div>
            </div>
            <div class="right"> <% include ./partials/right %> </div>
            <% include ./partials/toast %>
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>

            <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script><!-- Image -->
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
            <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->
            <script src="/js/placementSheet.js"></script>
        </div>
    </body>
</html>