<style media="screen">
    .progress{
      border: 1px solid black;
      width: 300px;
    }
    .progress-bar{
      background: red;
      color: white;
    }
    
    </style>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="progress">
                  <div class="progress-bar" role="progressbar"></div>
                </div>
                <button class="btn btn-lg upload-btn" type="button">Upload File</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    
      <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
    
    <script type="text/javascript">
    $('.upload-btn').on('click', function (){
        $('#upload-input').click();
        $('.progress-bar').text('0%');
        $('.progress-bar').width('0%');
    });
    
    $('#upload-input').on('change', function(){
    
      var files = $(this).get(0).files;
    
      if (files.length > 0){
        // create a FormData object which will be sent as the data payload in the
        // AJAX request
        var formData = new FormData();
    
        // loop through all the selected files and add them to the formData object
        for (var i = 0; i < files.length; i++) {
          var file = files[i];
    
          // add the files to formData object for the data payload
          formData.append('uploads[]', file, file.name);
        }
    
        $.ajax({
          url: '/read/upload',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function(data){
              console.log('upload successful!\n' + data);
          },
          xhr: function() {
            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener('progress', function(evt) {
    
              if (evt.lengthComputable) {
                var percentComplete = evt.loaded / evt.total;
                percentComplete = parseInt(percentComplete * 100);
    
                $('.progress-bar').text(percentComplete + '%');
                $('.progress-bar').width(percentComplete + '%');
    
                if (percentComplete === 100) {
                  $('.progress-bar').html('Done');
                }
    
              }
    
            }, false);
    
            return xhr;
          }
        });
    
      }
    });
    
    </script>
    