.main-container{
    background: #fff;
}

.read {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    width: 95%;
}

.primary {
    width: 100%;
    height: fit-content;
    background: #fff;
}

.secondary {
    width: 0px;
    padding: 0px;
    height: 0px;
}

.reader {
    height: 654px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.details {
    padding: 5px;
    padding-top: 17px;
}

.secondary > .title {
    height: 20px;
    border-bottom: 1px solid #ddd;
}

.info {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.uploader {
    height: fit-content;
    margin-top: 25px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.comment-box {
    min-height: 100px;
    margin-top: 25px;
}

iframe {
    height: 100%;
    width: 100%;
}

.item {
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.details > .title {
    min-height: 30px;
    font-size: 19px;
}

.thumbnail {
    width: 40%;
    background: #eee;
}

.item-details {
    display: flex;
    flex-flow: column;
    width: 57%;
    justify-content: flex-end;
    align-items: start;
}

.item-title {
    background: #eee;
    min-height: 20px;
    width: 95%;
    margin-bottom: 5px;
}

.item-views {
    background: #eee;
    min-height: 20px;
    width: 76%;
}

.views {
    color: #777;
}

.author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-details {
    display: flex;
    align-items: center;
}

.author-pic {
    height: 48px;
    width: 48px;
    margin-right: 7px;
    border-radius: 50%;
    background-size: 48px;
}

.description {
    margin-top: 17px;
    color: #222;
    padding-left: 55px;
    overflow: hidden;
}

.subscribe {
    background: red;
    color: #fff;
    padding: 6px;
    border-radius: 3px;
    font-weight: 600;
    min-width: 100px;
    display: none;
}

.author-name {
    text-shadow: 0.3px 0.3px 0px #000;
    color: #000;
}

.actions {
    display: flex;
}

.actions>div {
    display: flex;
    margin-left: 15px;
}

.action-btn {
    cursor: pointer;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 24px;
    background-size: 24px;
    height: 24px;
    background-image: url('/images/sprites/main-24.png');
}

.action-count {
    color: #333;
}

.dot {
    height: 4px;
    width: 4px;
    border: 1px solid #666;
    border-radius: 50%;
    margin-left: 3px;
}

.comment-area {
    display: flex;
    margin-top: 15px;
}

.user-pic {
    width: 40px;
    height: 40px;
    background: #eee;
    border-radius: 50%;
}

.comment-input {
    display: flex;
    padding-left: 9px;
    width: 100%;
    align-items: center;
}

input.cbox {
    border: none;
    border-bottom: 1px solid #aaa;
    width: 90%;
    outline: none;
    font-size: 16px;
    height: 18px;
}

.comments {
    margin-top: 20px;
    font-size: 14px;
}

.comment {
    display: flex;
    margin-bottom: 15px;
}

.c-pic {
    height: 40px;
    width: 40px;
    background: #eee;
    border-radius: 50%;
}

.c-source {
    display: flex;
}

.c-time {
    margin-left: 10px;
    color: #555;
}

.c-name {
    text-shadow: .1px .1px #000;
}

.c-data {
    margin-left: 11px;
}

.c-text {
    margin-top: 4px;
}

.like-comment {
    display: flex;
    margin-top: 5px;
}

.like-count {
    margin-left: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #666;
}

.like-btn {
    cursor: pointer;
    color: #666;
}

.post-comment {
    padding: 8px;
    margin-left: 10px;
    background: #ccc;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.post-comment:hover {
    background: #777;
}

.pdfControls {
    position: relative;
    height: 32px;
    width: 101%;
    background: #474747;
    bottom: 30px;
    opacity: 0;
    transition: opacity .3s;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    background-image: url(/images/texture.png),                     linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
    box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08), inset 0 1px 1px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,100%,.05), 0 1px 0 hsla(0,0%,0%,.15), 0 1px 1px hsla(0,0%,0%,.1);
}

.reader:hover .pdfControls {
    opacity: 1;
}

.pdfControls>div {
    width: 30px;
    height: 30px;
    margin-right: 14px;
    cursor: pointer;
    font-size: 28px;
}

.pdfrdr {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: scroll;
    background: #eee;
    box-shadow: 1px 1px 5px #777 inset;
}
iframe{
    border: none;
}
.refresh {
    background-image: url('https://img.icons8.com/metro/26/000000/refresh.png');
    filter: invert(1);
    background-size: 25px 23px;
    background-repeat: no-repeat;
    background-position-y: 4px;
}

.like > .action-btn {
    background-position-y: -120px;
}

.unlike > .action-btn {
    background-position-y: -96px;
}

.bookshelf > .action-btn {
    background-position-y: -240px;
}

.share > .action-btn {
    background-position-y: -408px;
}

.options > .action-btn {
    background: none;
}

.otherLink {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
}

a.newtabLink {
    font-weight: bold;
}

.secondaryMobile{
    display: none;
}

.comment-box > .title {
    font-weight: bold;
    font-size: 19px;
}
.like-doc > .action-btn {
    background-position-y: -120px;
}

.dislike-doc > .action-btn {
    background-position-y: -96px;
    transform: rotateY(180deg);
}
a.fileLink {
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow : ellipsis;
}

.secondaryMobile > .file {
    width: 90vw;
}
div#exp-reader {
    padding: 12px;
    padding-top: 0px;
}