.footer-distributed {
  background-color: #5f9ea0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
.footer-distributed{
  display: none;
}
}

.footer-distributed .footer-right {
  height: fit-content;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

a.footer-icon {
    background-size: 25px;
    background-repeat: no-repeat;
}
a.footer-icon.facebook-footer {
    background-image: url('/images/icons/main/28-facebook.png');
}
a.footer-icon.twitter-footer {
    background-image: url('/images/icons/main/30-twitter.png');
}
a.footer-icon.linkedin-footer {
    background-image: url('/images/icons/main/29-linkedin.png');
}

.footer-copyright{
  color: #ffffff;
  font-size: 12px;
}