.path {
    border-radius: 8px;
    display: flex;
    justify-content: initial;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-right: 6px;
}

.path-item {
    margin-left: 3px;
    text-decoration: none;
    font-style: italic;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 4px;
    text-align: center;
}

.path-item:hover {
    text-decoration: underline;
    color: #000;
}
.sep{
    text-decoration: none !important;
}

.pathbar {
    height: 32px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: initial;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    width: 100%;
}

.addressbar {
    display: flex;
    align-items: center;
    height: 45px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #CF2667;
    padding-bottom: 5px;
    display: none;
}

img.path-item-icon {
    height: 16px;
}

.controls {
    display: flex;
    flex-flow: row-reverse;
    width: 25%;
    padding-right: 10px;
}

.control {
    cursor: pointer;
}

.path{
    padding-bottom:25px;
}
.addressbar{
    margin-top:0;
}

.gm-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.previous {
    font-size: 12px;
}

.gm-name {margin-top: 7px;font-weight: bold;background-image: url('/images/sprites/main-24.png');background-repeat: no-repeat;padding-left: 30px;height: 24px;display: flex;align-items: center;background-position-y: -312px;}

.gm-item {
    margin-top: 11px;
    padding: 12px;
    line-height: 1.5;
    border-left: 4px solid #777;
    background: #fafafa;
    transition: border .3s;
    /* background-image: url('https://storage.googleapis.com/mlbu/1xh60cjm7xjzsc1a0b-1428422581-244.jpg');
    background-repeat: no-repeat;
    background-size: 75px 75px;
    padding-left: 95px;
    background-position-y: 5px;
    background-position-x: 5px; */
}

.gm-item-detail {
    color: #777;
    font-size: 12px;
}

.gm-item-count {
    font-size: 12px;
    color: #777;
}

.previous:hover {
    text-decoration: underline;
}

.previous > a {
    color: #777;
}

.gm-addbtn {
    margin-left: 10px;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    background-image: url(/images/sprites/main-24.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 24px;
    display: flex;
    align-items: center;
    background-position-y: -288px;
}

.gm-addbtn:hover {
}


b {
    color: #000;
}

.c-main {
    margin-left: 10px;
}

.college-cnt {
    width: 100%;
    background: #fff;
    padding: 50px;
    padding-top: 15px;
}

.gm-item:hover {
    border-left: 8px solid #000;
}