.ps-cnt {
    width: 100%;
    background: #fff;
    padding: 50px;
    padding-top: 15px;
}

.title {
    font-weight: bold;
    border-bottom: 1px solid #999;
    font-size: 20px;
    overflow: hidden;
}

.filters {
    margin-top: 30px;
}

.addExperience-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 20px;
}

input.exp {
    width: 260px;
    padding: 5px;
}

.filterControls {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 30px;
}

input.college-filter {}

input.topic-filter {}

.addExperience {}

.addExperiencePanel {
    border: 1px solid #ddd;
    padding: 10px;
}

textarea.exp, select.exp, input.exp {
    margin-top: 7px;
    margin-bottom: 15px;
}

input.exp.exp-college {}

input.exp.exp-department {}

input.exp.exp-topics {}

select.exp.exp-semester {}

option {}

select.exp.exp-category {
    width: 260px;
    padding: 4px;
}

textarea.exp.exp-description {
    padding: 5px;
    width: 330px;
}

input.exp-file {}


.experiences {
    margin-top: 40px;
}

.experience-list {
    margin-top: 30px;
}

.experience-list-wrapper {}

.experience {
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    overflow: hidden;
}

.experience-title {
    font-weight: bold;
    font-size: 14px;
}

.experience-description {
    color: #555;
    margin-top: 12px;
    margin-bottom: 12px;
}

.experience-details {
    color: #777;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.addExperience-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 20px;
}

input.exp {
    width: 50%;
    padding: 5px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.filterControls-controller {
    margin-top: 20px;
}

select.filter {
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
}

select.college-filter {
    padding: 5px;
    margin-left: 0px;
}


div#expDescription {
    width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
}
.addExperience-title {
    cursor: pointer;
    padding: 6px;
    padding-left: 40px;
    background-image: url('/images/icons/main/26-compose.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

.filterControls-title {
    cursor: pointer;
    padding: 6px;
    padding-left: 40px;
    background-image: url(/images/icons/main/27-filter.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
span.experiences-title {
    background-image: url('/images/sprites/main-32.png');
    background-repeat: no-repeat;
    padding: 4px;
    padding-left: 40px;
    background-size: 30px;
    background-position-y: -601px;
}
.companyHistory-title {
    cursor: pointer;
    padding: 6px;
    padding-left: 40px;
    background-image: url(/images/icons/main/31-history.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
.visit {
    margin-bottom: 10px;
}

.visit-history {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    font-size: 13px;
    padding-bottom: 1px;
}

.post-visit {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
}

.post-visit-title {
    margin-bottom: 15px;
}

.btn {
    background: #A33A47;
    width: fit-content;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    margin-top: 15px;
}
.notice {
    margin-top: 15px;
    font-size: 11px;
    background: #f4d192;
    width: fit-content;
    padding: 4px;
    text-shadow: 1px 1px #ddd;
    border-radius: 3px;
    color: rgba(0,0,0,0.8);
}
.query-title {
    background-image: url(/images/icons/main/32-query.png);
    background-repeat: no-repeat;
    padding: 4px;
    padding-left: 40px;
    background-size: 28px;
    margin-bottom: 15px;
}

.comment-box {
    margin-top: 40px;
}
span.loadMore.hidden {
    cursor: pointer;
}
span.removeFilter {
    cursor: pointer;
    text-decoration: underline;
}
.notice.filterActive {
    margin-top: 30px;
}