.profile {
    background: #fff;
    width: calc(100% - 100px);
    padding: 50px;
}

.picture {
    height: 96px;
    width: 96px;
    margin-right: 20px;
    filter: brightness(1.2);
    border: 4px solid #999;
    box-shadow: 0px 0px 5px 0px #000;
}

.user-info > .name {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

.main-container{
}

.maininfo {
    display: flex;
}

.revenue {
    margin-top: 40px;
    border: 2px solid #777;
    height: 200px;
}

.revenue > .title {
    padding: 3px;
    background: #777;
    color: #eee;
}

.earningDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    font-size: 12px;
    color: #999;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px #eee;
}

span.counter {
    font-family: monospace;
    font-size: 16px;
    color: #333;
}
.public-details {
    margin-top: 20px;
}

td.detail-tag {
    font-size: 14px;
    min-width: 90px;
}

td.detail-value {
    font-size: 14px;
    color: #222;
    height: fit-content;
}

span.notavailable {
    color: #777;
}

span.edit {
    float: right;
    font-size: 12px;
    display: none;
}

.detail>button {
    float: right;
    margin-left: 8px;
    cursor: pointer;
    display:none;
}

.editing {
    border-bottom: 0.5px solid #ccc;
    padding: 3px;
    width: fit-content;
    display: inline-block;
    outline: none;
    min-width: 140px;
}

.file-details {
    width: calc(100% - 74px);
    margin-left: 10px;
}

.profile-pic-chooser {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pic-option {
    height: 130px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-bottom: 35px;
}

.sample-pic {
    height: 100px;
    width: 100px;
    border: 1px solid #aaa;
    cursor: pointer;
    background-size: 100px 100px;
}

.setting>.title {
    margin-bottom: 30px;
}
.search-result {
    width: 60vw;
}