
.signin-cnt {
    width: 644px;
    height: 460px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #888;
    background: #fff;
}

.ml-intro {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signin-panel {
    height: 240px;
    position: relative;
    padding-top: 50px;
    display: flex;
}

.connect-signin {
    width: 50%;
    display: flex;
    justify-content: center;
}

.email-signin {
    width: 50%;
    display: flex;
    justify-content: center;
    border-left: 1px solid #ddd;
    height: 90%;
}

.quicklinks {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #f3f3f3;
}

.ml-logo {
    height: 60px;
    width: 60px;
    background: url('/images/logo-tr.png');
    background-size: 60px 60px;
}

.ml-tagline {
    color: #999;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
}

.register.connect {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.connect-btn {
    height: 40px;
    width: 260px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    background: url('/images/gl-signin.png');
}

.connect-btn.fb {
    background: url('/images/fb-signin.png');
}

.explain {
    height: 110px;
    width: 90%;
    font-size: 13px;
    color: #888;
    text-align: justify;
}

.link {
    color: #888;
}

a {
    text-decoration: none;
    color: #507CC0;
    transition: .6s text-decoration;
}

a:hover {
    text-decoration: underline;
}

.link > a {
    color: #888;
}

.tabs {
    display: flex;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.email-signin-panel {
    width: 85%;
}

.tab {
    padding: 6px;
    cursor: pointer;
    background: #fff;
    box-shadow: none;
    color: #777;
    text-shadow: none;
    border-radius: 3px;
}

.tab.active {
    box-shadow: 1px 1px 6px #555 inset;
    background: #ccc;
    cursor: default;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

input.si.name {
    width: 224px;
}

input.si {
    margin-top: 10px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input.si.email {
    width: 224px;
}

input.si.pass {
    width: 224px;
}

input.si.submit {
    cursor: pointer;
    border: 0;
    padding: 7px;
    background: #507CC0;
    background: #57ADA2;
    color: #fff;
}

.tag {
    display: none;
}

a.link.forgot {
    font-size: 12px;
    margin-left: 12px;
    font-weight: inherit;
}

.cancel {
    font-size: 12px;
    margin-left: 12px;
    font-weight: inherit;
}

.pass {
    font-size: 12px;
}

.wrong {
    color: #a00;
}

.email-taken {
    font-size: 12px;
    color: #a00;
}

.spinner{
    position: relative;
    bottom: 24px;
    left: 65px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .tag {
        position: absolute;
        color: rgba(255,255,255,.7);
        font-family: cursive;
        display: none;
    }

    .tag.q1a {
        ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
        top: 40px;
        left: 20px;
    }

    .tag.q1b {
        ms-transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        transform: rotate(-90deg);
        top: 170px;
        left: -20px;
        font-size: 11px;
    }

    .tag.q2a {
        ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(30deg);
        bottom: 70px;
        left: 30px;
        font-size: 12px;
    }

    .tag.q2b {
        ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-90deg);
        bottom: 90px;
        left: 320px;
        font-size: 17px;
    }

    .tag.q3a {
        ms-transform: rotate(40deg);
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
        top: 40px;
        right: 60px;
    }

    .tag.q3b {
        ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
        display: none;
    }

    .tag.q4a {
        bottom: 10px;
        font-size: 11px;
        left: 20px;
    }

    .tag.q4b {
        display: none;
        ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

    .explain {
        width: 100%;
    }

    .signin-cnt {
        width: 100%;
        background: rgba(0,0,0,0);
        box-shadow: none;
        top: 0;
    }

    .signin-panel {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .connect-signin {
        width: 80%;
    }

    .email-signin {
        width: 80%;
        border: 0;
    }

    .quicklinks {
        flex-wrap: wrap;
        height: 54px;
        background: rgba(0,0,0,0);
        justify-content: center;
    }

    .ml-tagline {
        /* color: #fff; */
        font-size: 12px;
    }

    .explain {
        /* color: #fff; */
    }

    a {
        font-weight: bold;
        color: #507CC0;
        background: #fff;
    }

    .link>a {
        color: #fff;
        display: none;
    }

    .link {
        /* color: #fff; */
    }
}
