<link rel="stylesheet" href="/css/tabs.css">

<main>

    <input id="tab1" type="radio" name="tabs" checked class="hidden">
    <label for="tab1">All Docs</label>
  
    <input id="tab2" type="radio" name="tabs" class="hidden">
    <label for="tab2" class="hidden">Settings</label>
  
    <section id="content1">
      <span class="spinner"></span>
      <span class="notfound">No documents posted yet.</span>
      <div class="search-result"></div>
    </section>
  
    <section id="content2">
      <div class="setting">
        <div class="title">Choose profile picture</div>
        <div class="profile-pic-chooser">
          <div class="pic-option google">
            <div class="sample-pic" onclick="setProfilePic(0);"></div>
            <div class="label">Google Photo </div>
          </div>
          <div class="pic-option identicon">
            <div class="sample-pic" onclick="setProfilePic(1);"></div>
            <div class="label">Identicon </div>
          </div>
          <div class="pic-option gravatar">
            <div class="sample-pic" onclick="setProfilePic(2);"></div>
            <div class="label">Gravatar (<a href="#" target="_blank" class="gravatar-link">Edit</a>)</div>
          </div>
        </div>
      </div>      
    </section>  
  </main>